/* ===========  Home Background  =========== */

.homeBackground {
  position: relative;
  width: 100%;
  height: 100vh; /* full màn hình */
  overflow: hidden;
}

.homeBackgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover; /* giúp video fill toàn màn */
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
/* ==========  Home Contain  ============= */
.homeContain {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
}

.homeImg {
  display: flex;
  flex-direction: row;
}

.homeContainImg {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: 0 0 50px #333;
  transition: all 0.4s ease;
  /* opacity: 0.8; */
}

.homeContainImg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.homeContainImgActive {
  transform: scale(1.1);
  z-index: 1;
}

.homeContainImg:nth-child(1) {
  top: 110px;
  left: 290px;
  width: 300px;
  height: 300px;
  animation: HomeImgIn1 0.5s ease;
}
@keyframes HomeImgIn1 {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes HomeImgIn2 {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes HomeImgIn3 {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes HomeImgIn4 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

.homeContainImg:nth-child(2) {
  top: 360px;
  left: 330px;
  width: 220px;
  height: 220px;
  animation: HomeImgIn2 0.5s ease;
}

.homeContainImg:nth-child(3) {
  top: 170px;
  left: 130px;
  width: 230px;
  height: 230px;
  animation: HomeImgIn3 0.5s ease;
}

.homeContainImg:nth-child(4) {
  top: 320px;
  left: 90px;
  width: 300px;
  height: 300px;
  animation: HomeImgIn4 0.5s ease;
}

.homeText {
  align-content: center;
}

.fadeIn {
  animation: FaceIn 0.8s ease;
}

@keyframes FaceIn {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  10% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.homeTextItem {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  padding: 30px 40px;
  border-radius: 20px;
  border: 2px solid #00ff9e;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #00ff9e, 0 0 20px #00ff9e, 0 0 30px #00ff9e,
      0 0 40px #00ff9e;

    .homeTitle {
      text-shadow: 0 0 10px #00ff9e, 0 0 20px #00ff9e, 0 0 30px #00ff9e,
        0 0 40px #00ff9e;
    }
  }
}

.homeTitle {
  color: white;
  line-height: 4rem;
  font-size: 3.6rem;
  margin-bottom: 40px;
  text-shadow: 0 0 10px #00ff9e, 0 0 20px #00ff9e;
  transition: all 0.3s ease;
}

.homeTextDetail {
  font-size: 2rem;
  line-height: 2.6rem;
  color: #00ff9e;
  text-align: justify;
}

// PC low and tablet high
@media (max-width: 1380px) and (min-width: 1113px) {
  .homeContain {
    width: 1000px;
  }

  .homeContainImg:nth-child(1) {
    top: 110px;
    left: 200px;
    width: 250px;
    height: 250px;
    animation: HomeImgIn1 0.5s ease;
  }

  .homeContainImg:nth-child(2) {
    top: 320px;
    left: 230px;
    width: 180px;
    height: 180px;
    animation: HomeImgIn2 0.5s ease;
  }

  .homeContainImg:nth-child(3) {
    top: 170px;
    left: 70px;
    width: 180px;
    height: 180px;
    animation: HomeImgIn3 0.5s ease;
  }

  .homeContainImg:nth-child(4) {
    top: 320px;
    left: 0px;
    width: 250px;
    height: 250px;
    animation: HomeImgIn4 0.5s ease;
  }
}
// tablet low
@media (max-width: 1112.9px) and (min-width: 760px) {
  .homeContain {
    padding-top: 100px;
    flex-direction: column;
    width: 684px;
  }

  .homeImg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .homeContainImg {
    position: static;
    height: 150px !important;
    width: 150px !important;
  }

  .homeContainImg:hover {
    transform: scale(1.3);
  }

  .homeContainImgActive {
    transform: scale(1.3);
    z-index: 1;
  }

  .homeTextItem:hover {
    transform: scale(1.05);
  }
}
// mobile
@media (max-width: 759.9px) {
  .homeContain {
    display: none;
  }
}
